.productName{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    padding: 2px;
}

.product{
    border-radius: 20px;
    overflow: hidden;
}

.product:hover{
    transform: scale(1.05);
    transition-duration: 200ms;
}

button{
    background: white;
    cursor: pointer;
    border-color: black;
    padding: 16px 32px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    width: 100%;
}
button:hover{
    background: #404040;
    border-color: white;
    color: white;
}