header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2{
    font-family: Helvetica, sans-serif;
}

aside{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
#icon-profile{
    width: 30px;
    cursor: pointer;
}

#icon-cart{
    width: 30px;
    cursor: pointer;
}